<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>Remote Host Controller</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
table, tr, td {
  border: 2px solid black;
}
</style>
</head>
<body>
<div class="container-fluid">
  <div class="container-fluid">

      <form action="/task" method="POST">
        <b>HostName:</b><br>
        <input type="text" name="hostname" value="{{ request.form['hostname'] }}"><br>
        <b>Execute Command:</b><br>
	      <input type="text" name="cmd" value="{{ request.form['cmd'] }}">
        <br><br>
        <div class="container-fluid">
        <input type="submit" value="submit">
	</div>
	</div>
	<br>

	<div class="container-fluid">
        <input type="submit" name ="bios" value="BootCheck">
        <input type="submit" name ="bios" value="CheckConfig">
        <input type="submit" name ="bios" value="CheckNetwork">
        <input type="submit" name ="bios" value="ChkBIOS">
        <input type="submit" name ="bios" value="ChkBIOSBattery">
        <input type="submit" name ="bios" value="ChkBMCFW">
        <input type="submit" name ="bios" value="ChkCores">
        <input type="submit" name ="bios" value="ChkCPUSpeed">
        <input type="submit" name ="bios" value="ChkDiskHealth">
        <input type="submit" name ="bios" value="ChkDiskPerformance">
        <input type="submit" name ="bios" value="ChkEtherSpeed">
        <input type="submit" name ="bios" value="ChkFanSpeeds">
        <input type="submit" name ="bios" value="ChkFRUs">
        <input type="submit" name ="bios" value="chkidadriver">
        <input type="submit" name ="bios" value="ChkIDADriver">
        <input type="submit" name ="bios" value="ChkIDAFPGA">
        <input type="submit" name ="bios" value="chkidapci">
        <input type="submit" name ="bios" value="ChkKtmemDriver">
        <input type="submit" name ="bios" value="ChkMem">
        <input type="submit" name ="bios" value="ChkMemConfig">
        <input type="submit" name ="bios" value="ChkMemSpeed">
        <input type="submit" name ="bios" value="ChkNodeFreeSpace">
        <input type="submit" name ="bios" value="ChkPCI">
        <input type="submit" name ="bios" value="ChkPowerSupplies">
        <input type="submit" name ="bios" value="ChkRAID">
        <input type="submit" name ="bios" value="ChkRAIDFirmware">
        <input type="submit" name ="bios" value="ChkServerType">
        <input type="submit" name ="bios" value="ChkStorage">
        <input type="submit" name ="bios" value="clearEventLogs">
        <input type="submit" name ="bios" value="collectEventLogs">
        <input type="submit" name ="bios" value="collectMessages">
        <input type="submit" name ="bios" value="compressLogs">
        <input type="submit" name ="bios" value="GetLogs">
        <input type="submit" name ="bios" value="getNetgearFirmware">
        <input type="submit" name ="bios" value="getNodesPowerState">
        <input type="submit" name ="bios" value="IMCType">
        <input type="submit" name ="bios" value="IsIDAloaded">
        <input type="submit" name ="bios" value="ListAllBIOS">
        <input type="submit" name ="bios" value="ListAllBMC">
        <input type="submit" name ="bios" value="ListAllSerials">
        <input type="submit" name ="bios" value="ListModules">
        <input type="submit" name ="bios" value="ListServerTypes">
        <input type="submit" name ="bios" value="load_dhcp">
        <input type="submit" name ="bios" value="Monthly_Log_Tar">
        <input type="submit" name ="bios" value="parseLogs">
        <input type="submit" name ="bios" value="PowerCycleAllNodes">
        <input type="submit" name ="bios" value="PoweroffAllNodes">
        <input type="submit" name ="bios" value="PoweronAllNodes">
        <input type="submit" name ="bios" value="pushLogs">
        <input type="submit" name ="bios" value="ReportSwitchErrors">
        <input type="submit" name ="bios" value="run">
        <input type="submit" name ="bios" value="runp">
        <input type="submit" name ="bios" value="setTimeZone">
        <input type="submit" name ="bios" value="SHUTDOWNALL">
        <input type="submit" name ="bios" value="syncTime">
        <input type="submit" name ="bios" value="TestNetworkBandwidth">
        <input type="submit" name ="bios" value="TestNFSCopy">
        <input type="submit" name ="bios" value="timeSyncCheck">
        


  </div>

      </form>
</div> 
 <div class="container-fluid">
  {% block content %}
  {% endblock %}
 </div> 
</body>
</html>

